.effect
{
    padding: 5px;
}
.effect div
{
    display: inline;

}
.effect img
{
    max-width: 1.5em;
    max-height: 1.5em;
}

.effect span {
    font-size: 1em;
}

.effect.Activated
{
    background-color: #6C490F; 
    color: white;
}

.effect.EnemyTurn{
    background-color: #F79DAB;
    color: black;
}

.effect.Played{
    background-color: white;
    color: black;
}

.effect.Round{
    background-color: #6BC4C1;
    color: black;
}

.effect.Game{
    background-color: #FED23B;
    color: black;
}
