.wingspanContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
.vpContainer
{
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
}
.nestContainer
{
    width: fit-content;
}
.habitatContainer
{
    width: 5.5rem;
    height: 4rem;
    position: relative;
}
.habitatContainer > *
{
    position: absolute;
}
.habitatContainer .habitatImg:nth-child(1)
{
    top: 30%;
    left: 10%;
}
.habitatContainer .habitatImg:nth-child(2)
{
    top: 30%;
    left: 50%;
}
.habitatContainer .habitatImg:nth-child(3)
{
    left: 30%;
    top:3%;
}
.foodContainer
{
    min-width: 5.5rem;
    width: fit-content;
    height: 2rem;
    position: relative;
    display:flex;
    justify-content: center;
}
.foodContainer > .foodImg
{
    width: 1.3rem;
    height: 1.3rem;
}
.eggContainer
{
    width: 5rem;
    display: flex;
    height: 3rem;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 2px;
}
.descriptionContainer 
{
    min-height: 2rem;
    cursor: pointer;
}
