.nestImg {
    width:3rem;
}

.habitatImg
{
    width:2rem;
    height:2rem;
}

.wingspanImg
{
    width: 5rem;
    height: 1.5rem;
}

.eggImg
{
    width: 1.5rem;
    height: 1.5rem;
.vpImg
{
    height: 100%;
}