.tierHeader
{
    width:100%;
    background-color: antiquewhite;
    font-size: large;
    color: black;
    text-align: center;
    border: 1px solid black;

    font-weight: 500;
}

.tierList
{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    gap: 5px;
}
