.tierHeader
{
    width:100%;
    background-color: antiquewhite;
    font-size: large;
    color: black;
    text-align: center;
    border: 1px solid black;

    font-weight: 500;
}

.tierList
{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    gap: 5px;
}
.tierList table
{
    overflow: hidden;
}

.tierList tr
{
    background: rgba(0,0,0,0.3);
}
.tierList table td 
{
    font-size: 1em;
}
.tierList table .nestImg 
{
    width: 2rem;
}

@media only screen and (max-width: 900px) {
    .tierList table .foodContainer
    {
        display:block;
        min-width:auto;
        height:auto;
    }
    .tierList table .habitatContainer
    {
        width:auto;
        height:auto;
    }
    .tierList table .habitatContainer > *
    {
        position:static;
    }
}
