.cardTemplate {
    width: 25rem;
    height: 40rem;
    background-color: #DFD7B3;
    border-radius: 1rem;
    border: 5px solid #C2B78C;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 2fr;
    justify-items: center;
    align-items: center;
}

.cardTemplate .habitatContainer
{
    background-color: rgb(182, 161, 136);
    grid-column: 1;
    grid-row: 1;
    align-self: end;
}

.cardTemplate .foodContainer
{
    align-self: start;
    background-color: rgb(182, 161, 136);
    grid-column: 1;
    grid-row: 2;
}
.cardTemplate .vpContainer
{
    grid-column: 1;
    grid-row: 3;
}
.cardTemplate .eggContainer
{
    grid-column: 1;
    grid-row: 4;
}

.cardTemplate .nestContainer
{
    grid-column: 1;
    grid-row: 5;
}

.cardTemplate .wingspanContainer
{
    grid-column: 2;
    grid-row: 5;
}

.cardTemplate .descriptionContainer
{
    grid-column: 1 / span 2;
    grid-row: 6;
    align-self: start;
    width: 100%;
} 

.cardTemplate .birdImageContainer
{
    grid-column: 2;
    grid-row: 2 / span 3;
    background-color: #2F2B19;
} 

.birdName
{
    color:#2F2B19;
    font-size: 2rem;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
    text-align: center;
}