.foodContainer
{
    min-width: 5rem;
    width: fit-content;
    height: 2rem;
    position: relative;
    left: 5px;
    display:flex;
    justify-content: center;
}
.foodContainer > .foodImg
{
    width: 1rem;
    height: 1rem;
}