.habitatContainer
{
    width: 5rem;
    height: 4rem;
    background-color: rgb(182, 161, 136);
}
.habitatContainer > *
{
    position: absolute;
}
.habitatImg:nth-child(1)
{
    top: 30%;
    left: 10%;
}
.habitatImg:nth-child(2)
{
    top: 30%;
    left: 50%;
}
.habitatImg:nth-child(3)
{
    left: 30%;
    top:3%;
}