.vpContainer
{
    width: 4rem;
    height: 4rem;
    font-size: large;
    font-weight: bold;
    display:flex;
}
.vpContainer span{
    font-size: 3rem;
    font-weight: bold;
}
.vpImg{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}