.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
}

.genericTextColor {
  color:#2F2B19;
}

.containImage{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}