body{
  background-color: #282c34;
}
.App {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mainContent
{
  width: 100%;
  flex:1;
}

@media only screen and (max-width: 900px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.genericTextColor {
  color:#2F2B19;
}

.containImage{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.aboutScreen
{
  background: rgba(0,0,0,0.3);
}
.aboutScreen div{
  padding-left: 10px;
  padding-top: 10px;
}