.cardTemplate {
    width: 25rem;
    height: 40rem;
    background-color: #DFD7B3;
    border-radius: 1rem;
    border: 5px solid #C2B78C;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 2fr;
    justify-items: start;
    align-items: center;
}
.cardTemplate.empty
{
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    color: black;
    font-size: 2rem;
}

.cardTemplate > *
{
    padding-left: 5px;
}

.cardTemplate .habitatContainer
{
    background-color: rgb(182, 161, 136);
    grid-column: 1;
    grid-row: 1;
    align-self: end;
}

.cardTemplate .foodContainer
{
    align-self: start;
    background-color: rgb(182, 161, 136);
    grid-column: 1;
    grid-row: 2;
}
.cardTemplate .vpContainer
{
    grid-column: 1;
    grid-row: 3;
}
.cardTemplate .eggContainer
{
    grid-column: 1;
    grid-row: 4;
}

.cardTemplate .nestContainer
{
    grid-column: 1;
    grid-row: 5;
    align-self: start;
}

.cardTemplate .wingspanContainer
{
    grid-column: 2;
    grid-row: 6;
    justify-self: center;
}

.cardTemplate .descriptionContainer
{
    grid-column: 1 / span 2;
    grid-row: 7;
    align-self: start;
    width: 100%;
    min-height: 2rem;
    cursor: pointer;
} 

.cardTemplate .descriptionContainer > span
{
    font-size: 1.5rem;
}
.cardTemplate .descriptionContainer.reducetext span
{
    font-size: 0.7rem !important;
}
.cardTemplate .descriptionContainer.reducetext img
{
    height: 0.7rem !important;
}
.cardTemplate .birdImageContainer
{
    grid-column: 2;
    grid-row: 3 / span 3;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
} 

.cardTemplate .birdImageContainer img
{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
} 

.birdName
{
    color:#2F2B19;
    font-size: 2rem;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.cardTemplate.small
{
    width: calc(25rem * 0.6);
    height: calc(40rem * 0.6);
}

.cardTemplate.small .birdName
{
    font-size: 1.5rem;
}
.cardTemplate.small .descriptionContainer span 
{
    font-size: 1.0rem;
}
.cardTemplate.small .descriptionContainer img 
{
    height: 1rem;
}

@media only screen and (max-width: 900px) {

    .cardTemplate {
        width: calc(25rem * 0.6);
        height: calc(40rem * 0.6);
    }
    .cardTemplate .birdName
    {
        font-size: 1.5rem;
    }
    .cardTemplate .descriptionContainer span 
    {
        font-size: 1.0rem;
    }
    .cardTemplate .descriptionContainer img 
    {
        height:1rem;
    }
}