.cardCreatorScreen
{
    display:flex;
}
.cardCreatorScreen button
{
    width:5rem;
    height:2rem;
}
.cardTemplateContainer
{
    width:50vw;
    flex:3;
    display: flex;
    justify-content: center;
}
.cardSettingsContainer
{
    width: 100%;
    flex:1;
}
.cardSettingsContainer > *
{
    margin-top: 1rem;
    
}

.settingsOption 
{
    background: rgba(0,0,0,0.3);
    border-radius: 1rem;;
    width: 80%;
    padding: 1rem;
}

.settingsOption  .foodImg
{
    width: 2rem;
    height: 2rem;
    display: inline-block;
}
.settingsOption input[type=text],
.settingsOption textarea
{
    width:100%;
}
.foodSelector,
.nestSelector
{
    cursor: pointer;
    width: fit-content;
}
.nestSelector > *
{
    display: inline-block;
}
.food-separator
{
    display: flex;
    align-items: center;
}
.food-separator > *
{
    flex:1;
}
