.tierHeader
{
    width: 90%;
    background-color: antiquewhite;
    font-size: large;
    color: black;
    text-align: center;
    border: 1px solid black;

    font-weight: 500;
}
.TierList
{
    padding: 2px;
}
.tierList
{
    display: flex;
    flex-wrap: wrap;
}
.tierList .cardTemplate
{
    width: calc(25rem * 0.6);
    height: calc(40rem * 0.6);
}