.topBar
{
  width: 100%;
  height: 2rem;
  background: rgb(140, 145, 133);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-shrink: 0;
}
.topBar > *{
  width:10rem;
  height:90%;
  background: #282C34;
  text-align: center;
  border-radius: 3px;
  color:rgb(255, 255, 255);
  text-decoration:none;
  font-size: 1.2em;
}
.topBar .active {
  pointer-events: none;
  filter: grayscale(1);  
}